* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CLASSI LAYOUT */

header {
    width: 100%;
}


.col-33 {
    width: 33.4%;
}

.sub-head-cont {
    width: 100%;
    margin: 0 auto;
}

.sub-head-main {
    width: 70%;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
    top: 80px;
}

.sub-head-title {
    width: 100%;
}

.col-25 {
    width: 30%;
    margin: 0 auto;
}

.col-75 {
    width: 70%;
}

.white-cont {
    width: 100%;
    margin: 0 auto;
}

.plan-head-cont {
    width: 70%;
    height: 820px;
    margin: 0 auto;
    background-color: orange;
}

.plan-head-title {
    width: 100%;
    height: 80px;
    background-color: gray;
}

.plan-col33 {
    width: calc(100% / 3);
    background-color: blue;
}

.plan-foot {
    width: 100%;
    height: 200px;
    background-color: red;
}


.info-box {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    background-color: yellowgreen;
}

.buisness-cont {
    width: 100%;
    margin: 0 auto;
    background-color: purple;
}

.buisness-box {
    width: 70%;
    height: 605px;
    margin: 0 auto;
    background-color: green;
}

.buisness-title {
    width: 100%;
    height: 80px;
    background-color: gray;
}

.count-box {
    width: 70%;
    height: 80px;
    margin: 0 auto;
    background-color: red;
}

.count-title {
    width: 100%;
    height: 80px;
    background-color: darkcyan;
}

.partner-box {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: darkseagreen;
}

.col-50 {
    width: 50%;
    height: 50%;
    background-color: aqua;
}

.col-100 {
    width: 100%;
    background-color: green;
}

.call-act-box {
    width: 70%;
    height: 150px;
    margin: 0 auto;
    background-color: yellowgreen;
}

.quest-box {
    width: 70%;
    height: 450px;
    margin: 0 auto;
    background-color: yellowgreen;
}

.foot-cont {
    width: 100%;
    margin: 0 auto;
    background-color: orange;
}

.foot-box {
    width: 70%;
    height: 450px;
    margin: 0 auto;
    background-color: yellowgreen;
}

.foot-col {
    width: calc(100% / 5);
    height: 300px;
    background-color: aqua;
}

/* CLASSI UTILIY */

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}


li,
.logo {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 55px;
    padding: 0px 10px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.start-btn {
    padding: 0px 7px;
}

.main-title {
    font-size: 80px;
}

.sans {
    font-family: Arial, Helvetica, sans-serif;
}

.desc-font {
    font-size: 18px;
}

.arrow-font {
    font-size: 60px;
}

.trial-btn {
    height: 50px;
    width: 230px;
}

.bold {
    font-weight: bold;
}

.bg-cyan {
    background-color: #B4D0E7;
}

.bg-btn {
    background-color: #1B72FF;
    color: white;
}

.s-bet {
    justify-content: space-between;
}

.f-center {
    justify-content: center;
}

.border {
    border: 2px solid black;
}

.plan-h {
    height: 540px;
}

.b-h {
    height: 300px;
}

.act-colh {
    height: 150px;
}

.quest-h {
    height: 450px;
}

.padding-15 {
    padding: 15px 15px;
}

.padding-20 {
    padding: 20px 0px;
}

.jumbo-relative {
    width: 100%;
    margin-top: 70px;
}

.padding-65 {
    padding-top: 65px;
    padding-bottom: 30px;
}

.padding-top {
    padding-top: 90px;
}